@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Rowdies:wght@300;400;700&display=swap');

* {margin: 0;padding: 0;box-sizing: border-box;}
ul,li {list-style: none;}
a{text-decoration: none;}
body {
  font-family: "pretendard";
}
body::after {
  content: "";
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  inset: 0;

}
/* 다크 모드 활성화 시 스타일 */
body.dark-mode::after{
  display: block;
}

/*==========header==========*/
header {
  width: 100%;/*이거 조정해*/
  height: 36px; /*이거 조정해*/
  margin: 0 auto;
  padding: 0 45px;/*이거 조정해*/
  background-color: #f1f1f1;
}
header > .container {
  max-width: 1280px;/*이거 조정해*/
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header > .container > .icons {
  display: flex;
  gap: 24px;
}
header > .container > .icons img {
  width: 36px;/*이거 조정해*/
  height: 36px;/*이거 조정해*/
  display: block;
}
header > .container > .tabs > ul {
  display: flex;
  align-content: center;
  line-height: 36px;
}
header > .container > .tabs > ul > li > a{
  color: #111;
  font-size: 12px;
  padding: 0 16px;
  border-right: 1px solid #111;
}
header > .container > .tabs > ul > li:last-child a {
  border-right: none;
}

/*==========nav==========*/
nav {
  width: 100%;/*이거 조정해*/
  height: 60px; /*이거 조정해*/
  margin: 0 auto;
  padding: 0 45px;/*이거 조정해*/
  position: relative;
  z-index: 3;
}
nav > .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
nav > .container > .logo {
  width: 251px;
}
nav > .container > .logo img{
  display: block;
  width: 90px;
  height: 60px;
}

nav > .container > .gnb > ul{
  display: flex;
  gap: 15px;
  line-height: 60px;
}
nav > .container > .gnb > ul > li a {
  color: #111;
  font-weight: 700;
  text-align: center;
}
/*창이 작아지면 보일 메뉴창*/
nav > .container > .s-gnb {
  display: none;
  background-color: #f1f1f1;
  z-index: 3;
  position: absolute;
  width: 40%;
  height: 100vh;
}
nav > .container > .s-gnb > ul {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
nav > .container > .s-gnb > ul > li {
  line-height: 60px;
  padding: 0 20px;
}
nav > .container > .s-gnb > ul > .icons {
  text-align: center;
  line-height: 60px;
  display: flex;
  justify-content: space-around;
}
nav > .container > .s-gnb > ul > .icons > a > img {
  width: 50px;
  height: 50px;
}
nav > .container > .s-gnb > ul > li > a {
  color: #111;
}
nav > .container > .s-gnb > ul > li:hover {
  background-color: #ccc;
  cursor: pointer;
}
nav > .container > .s-gnb > ul > li.icons:hover,
nav > .container > .s-gnb > ul > li:last-child:hover {
  background-color: transparent; /* 특정 li hover 제거 */
}
nav > .container > .s-gnb > ul > li > p {
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-top: 30px;
}
nav > .container > .s-gnb > ul > li > p > a {
  color: #111;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
  /*닫기버튼 입니다*/
nav > .container > .s-gnb > .close-btn {
  /* display: block; */
  position: absolute;
  right: 10px; top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}
nav > .container > .mine {
  display: flex;
  gap: 21px;
  align-items: center;
}
nav > .container > .mine > .search {
  display: flex;
  background-color: #f1f1f1;
  width: 160px;
  height: 36px;
  align-items: center;
  border-radius: 20px;
}
nav > .container > .mine > .search > img {
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  margin-left: 9px;
}
nav > .container > .mine > .search > input {
  outline: none;
  border: none;
  width: 150px;
  height: 36px;
  margin: 0 9px;
  background-color: transparent;
}
nav > .container > .mine > .search > input::placeholder{
  font-size: 13px;
  font-weight: 700;
  color: #ccc;
}
nav > .container >.mine > .icons {
  display: flex;
  gap: 10px;
}
nav > .container > .mine > .icons > img {
  width: 30px;
  height: 30px;
  display: block;
}
.w995px-icons {
  display: none;
}

/*==========공지사항==========*/
#notice {
  width: 100%;/*이거 조정해*/
  height: 58px; /*이거 조정해*/
  margin: 0 auto;
  padding: 0 45px;/*이거 조정해*/
  background-color: #f1f1f1;
}
#notice > .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
#notice > .container > .txt {
  text-align: center;
  padding: 10px 0;
}
#notice > .container > .txt > p {
  font-size: 16px;
  color: #111;
}
#notice > .container > .txt > a b {
  font-size: 12px;
  color: #111;
  font-weight: 600;
  text-decoration: underline;
}



/*==========메인배경==========*/
main {
  width: 100%;/*이거 조정해*/
}
main > .container {
  width: 100%;
}
main > .container > img{
  width: 100%;
}

/*==========신제품==========*/
#new-item {
  width: 100%;
  margin: auto;
  padding: 0 45px;
}
#new-item > .container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
#new-item > .container > .txt {
  text-align: center;
  margin-top: 50px;
}
#new-item > .container > .txt:first-child p {
  font-weight: 500;
}
#new-item > .container > .txt > p {
  display: block;
  font-size: 16px;
  color: #111;
  font-weight: normal;
  margin-bottom: 30px;
}
#new-item > .container > .txt > h2 {
  font-size: 60px;
  font-weight: 700;
  color: #111;
  margin-bottom: 30px;
}

/*버튼*/
#new-item > .container > .btn {
  display: flex;
  gap: 44px;
  justify-content: center;
}
#new-item > .container > .btn > a {
  width: 150px;
  line-height: 50px;
  background-color: #111;
  border-radius: 30px;
  text-align: center;
  color: #f1f1f1;
  font-weight: 500;
  transition: 0.3s;
}
#new-item > .container > .btn > a:hover {
  background-color: #be0f0f;
}

/*==========After Dark Tour==========*/
#running {
  width: 100%;
  padding: 0 45px;
  margin: auto;
  margin-top: 120px;
}
#running > .container {
  width: 100%;
  overflow: hidden;
}
#running > .container > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#running > .container .txt > h2 {
  font-size: 24px;
  font-weight: 600;
  color: #111;
}
#running > .container > div > .w1200px-txt > p{
  color: #111;
  display: none;
  cursor: pointer;
}
#running > .container .txt > p {
  margin-top: 6px;
}
#running > .container > .btn {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  margin-bottom: 10px;
}
#running > .container > .btn > a {
  border-radius: 50%;
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
#running > .container > .btn > a > i {
  line-height: 50px;
  color: #111;
}

#running > .container > .btn > a:hover {
  background-color: #ccc;
}

/*카드 이미지*/
#running > .container > article {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 10px;
}
.card-wrap {
  width: 2300px;
  display: flex;
}
/*스크롤바 디자인*/
/* 스크롤바 디자인 기본값 (숨김 상태) */
#running > .container > article::-webkit-scrollbar {
  height: 10px; /* 수평 스크롤바의 높이 */
}

#running > .container > article::-webkit-scrollbar-thumb {
  background: #ccc;  /* 기본적으로 스크롤바 thumb를 숨깁니다 */
  border-radius: 10px;
}

#running > .container > article::-webkit-scrollbar-track {
  background-color: transparent;  /* 스크롤바 트랙은 투명하게 설정 */
  border-radius: 10px;
}


.card-wrap > .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 19.17%;
  padding-right: 0.83%;
}
.card-wrap > .card > img{
  width: 100%;
  object-fit: cover;
}
.card-wrap > .card > div {
  flex-grow: 1;
}
.card-wrap > .card > div > h2 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}
.card-wrap > .card > div > p {
  font-size: 16px;
  color: #111;
  margin-top: 20px;
} 
.card-wrap > .card > button {
  width: 120px;
  height: 50px;
  background-color: #111;
  border: none;
  border-radius: 30px;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
}

/*==========배너 동영상==========*/
figure {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 30px;
  position: relative;
}
figure > video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0;
}
#txt {
  width: 100%;
}
#txt > .top0 {
  position: absolute;
  /* padding: 10px auto auto 10px; */
  top: 10px;
  left: 10px;
}
#txt > .top0 > p {
  color: #fff;
  font-size: 40px;
  font-family: "Archivo";
  font-weight: 600;
}
#txt > .top0 > p > span {
  font-family: "Lora";
}
#txt > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#txt > .center > h2 {
  color: #f1f1f1;
  font-size: 90px;
  line-height: 0.8;
  text-align: center;
}
#txt > .center > p {
  color: #f1f1f1;
  font-weight: 700;
  font-size: 50px;
  text-align: right;
  line-height: 1;
  transform: translate(30%,-10%);
}
#txt > .center > span {
  display: block;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  line-height: 1;
  transform: translate(40%,-150%);
}

/*Infinite Space 텍스트 부분*/
#qr {
  padding: 0 40px;
}
#qr > .txt {
  margin-top: 30px;
  text-align: center;
}
#qr > .txt > h2 {
  font-size: 60px;
  font-weight: 700;
  color: #111;
  margin-bottom: 20px;
}
#qr > .txt > p {
  font-size: 16px;
  color: #111;
  margin-bottom: 30px;
}
.w600-txt {
  display: none;
}
#qr > .qr-code {
  margin: auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 10px; /*qr코드랑 글씨사이 간격*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
#qr > .qr-code > img {
  width:9.1406%;
}
#qr > .qr-code > a p {
  color: #111;
  font-size: 20px;
  text-decoration: underline;
}
#qr > .pic {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* height: 50vh; */
}
#qr > .pic > div {
  position: relative;
  width: 46.0937%;
}
#qr > .pic > div > img {
  width:100%;
  display: block;
  object-fit: cover;
}
#qr > .pic > div > .txt {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 40px;
}
#qr > .pic > div > .txt > h2 {
  font-size: 23px;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 15px;
}
#qr > .pic > div > .txt > a {
  display: block;
  width: 100px;
  line-height: 40px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  color: #111;
}
#qr > .pic > div:nth-of-type(3) > .txt > h2 {
  color: #111;
}
#qr > .pic > div:nth-of-type(3) > .txt > a {
  background-color: #111;
  color: #f1f1f1;
}

/*Trending Now*/
#trending-now {
  max-width: 1920px;
  margin: auto;
  padding: 0 40px;
  margin-top: 120px;
  margin-bottom: 120px;
}
#trending-now > .container {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
#trending-now > .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#trending-now > .container > div > h2 {
  font-size: 24px;
  color: #111;
  font-weight: 600;
  line-height: 60px;
}
/*버튼*/
#trending-now > .container > div > .btn {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  margin-bottom: 10px;
}
#trending-now > .container > div > .btn > a {
  border-radius: 50%;
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
#trending-now > .container > div > .btn > a > i {
  line-height: 50px;
  color: #111;
}

#trending-now > .container > div > .btn > a:hover {
  background-color: #ccc;
}

/*더보기 버튼*/
#trending-now > .container > div > .morebtn {
  display: none;
}
#trending-now > .container > div > .morebtn > a {
  color: #111;
  font-size: 16px;
}

/*이미지 wrap*/
#trending-now > .container > .img-wrap {
  max-width: 2000px;
  width: 100%;
  display: flex;
  gap: 20px;
}
#trending-now > .container > .img-wrap > .img-box {
  width: 24.1969%;
  /* min-width: 360px; */
  position: relative;
}

/*가상요소*/
#trending-now > .container > .img-wrap > .img-box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg,rgba(0,0,0,0.9),rgba(0,0,0,0));
}

#trending-now > .container > .img-wrap > .img-box > img {
  width: 100%;
  /* max-width: 360px; */
  max-height: 600px;
  display: block;
  object-fit: cover;
}
#trending-now > .container > .img-wrap > .img-box > .txt {
  padding: 0px 20px;
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
  z-index: 1;
}
#trending-now > .container > .img-wrap > .img-box > .txt > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 40px;
}
#trending-now > .container > .img-wrap > .img-box > .txt > a {
  width: 100px;
  line-height: 40px;
  background-color: #f1f1f1;
  display: block;
  text-align: center;
  color: #111;
  border-radius: 30px;
}


/*Always Iconic*/
#always-lconic {
  width: 100%
}
#always-lconic > .container {
  width: 100%;
}
#always-lconic > .container > .title {
  width: 100%;
  margin: auto;
  padding: 0 45px;
}
#always-lconic > .container > .title > h2 {
  font-size: 24px;
  font-weight: 600;
  color: #111;
  line-height: 60px;
}
/*스와이퍼 css*/
#always-lconic > .container > .swiper {
  /* padding: 0 40px; */
  width: 100%;
}
#always-lconic > .container > .swiper > .swiper-wrapper {
  width: 100%;
}
#always-lconic > .container > .swiper > .swiper-wrapper img {
  width: 100%;
}
#always-lconic > .container > .swiper > .swiper-wrapper > .swiper-slide > p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#always-lconic .swiper-button-next,
#always-lconic .swiper-button-prev {
  color: #111;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0;
}
#always-lconic .swiper-button-prev::after,
#always-lconic .swiper-button-next::after{
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
#always-lconic .swiper:hover .swiper-button-prev,
#always-lconic .swiper:hover .swiper-button-next {
  opacity: 1;
} 





/* 화면 크기가 1640px 이하일 때 */
@media (max-width: 1640px) {
    /*Trending Now*/
    #trending-now > .container > .img-wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px 20px;
    }
    #trending-now > .container > .img-wrap > .img-box {
      width: calc(50% - 10px); /* gap의 절반만큼 줄이기 ★★★★★이거물어봐★★*/
    }
    #trending-now > .container > .img-wrap > .img-box > img {
      width: 100%;
      max-height: none;
    }
  
    /*버튼*/
    #trending-now > .container > div > .btn {
      display: none;
    }
    #trending-now > .container > div > .morebtn {
      display: block;
      line-height: 60px;
    }
    #trending-now > .container > .img-wrap > .img-box > .txt {
      position: static;
      margin-top: 20px;
    }
    #trending-now > .container > .img-wrap > .img-box > .txt > h2{
      font-size: 20px; /*적용이 왜 안돼~*/
      font-weight: 600;
      color: #111;
      margin-bottom: 20px;
    }
    #trending-now > .container > .img-wrap > .img-box > .txt > a {
      background-color: #111;
      color: #f1f1f1;
    }
    /*가상요소*/
    #trending-now > .container > .img-wrap > .img-box::after {
      display: none;
    }
}
/* 화면 크기가 1200px 이하일 때 */
@media (max-width: 1200px) {
  header,
  #notice,
  #new-item,
  #running {
    padding: 0 40px;
  }
  
  #running > .container > div > .w1200px-txt > p {
    display: block;
  }
  #running > .container > .btn {
    display: none;
  }
  .card-wrap {
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .card-wrap > .card {
    width: 50%;
    padding: 0 0.8333%; /*양쪽으로 주려고*/
    margin-top: 50px;
  }
  .card-wrap > .card > img {
    width: 100%;
  }
  /*마지막 카드 사라지기*/
  .card-wrap > .none {
    display: none;
  }



}

/* 화면 크기가 995px 이하일 때 (모바일 화면) */
@media (max-width: 995px) {
  header {
   display: none;
  }
  nav,
  #notice,
  #new-item,
  #running {
    padding: 0 40px;
  }
  .logo {
    width: 80px;
    height: 50px;
  }
  nav > .container > .gnb {
    display: none;
    width: 50%;
    /* text-align: center; */
  }

  /*서브메뉴*/
  nav > .container > .s-gnb  {
    display: block;
    position: fixed;
    background-color: #f1f1f1;
    width: 50%;
    height: 100vh;
    right: -100%; top:0;
    transition: 0.5s;
  }

  nav > .container > .mine{
    display: none;
  }
  .container > .w995px-icons {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
  }
  .w995px-icons > a img {
    width: 30px;
    height: 30px;
    display: block;
  }
  #new-item > .container > .txt {
    margin-top: 30px;
  }
  #new-item > .container > .txt > h2 {
    font-size: 40px;
  }
  .card-wrap {
    max-width: 995px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .card-wrap > .card {
    width: 50%;
    margin-top: 50px;
    padding: 0 1.005%;
  }
  .card-wrap > .card > img {
    width: 100%;
  }
  /*배너동영상*/
  figure > #txt > .center > h2 {
    font-size: 80px;
  }
  figure #txt > .center > p {
    font-size: 30px;
  }
  figure #txt > .center > p > span {
    font-size: 20px;
  }
  #qr {
    padding: 0 40px;
  }
  #qr > .qr-code {
    margin-bottom: 80px;
  }
  #qr > .qr-code > img {
    margin-bottom: 32px;
  }
  /*이미지 4장*/
  #qr > .pic {
    gap : 13px;
  }
  #qr > .pic > div > .txt {
    bottom: 20px;
    left: 20px;
  }
  #qr > .pic > div > .txt > h2 {
    font-size: 25px;
  }
 
}
/*화면 크기가 885px 이하일 때*/
@media (max-width: 885px) {
  #qr > .pic > div > .txt > h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #qr > .pic > div > .txt > a {
    font-size: 14px;
    width: 80px;
    line-height: 35px;
  }
  #always-lconic > .container {
    padding-left: 40px;
  }
  #always-lconic > .container > .title {
    padding: 0;
  }
  
}

/* 화면 크기가 600px 이하일 때 (초소형 화면) */
@media (max-width: 600px) {
  header {
    display: none;
  }
  nav,
  #notice,
  #new-item,
  #running
   { padding: 0 20px; }
  nav .logo {
    width: 80px;
    height: 50px;
  }
  nav .mine{
    display: none;
  }
  .w995px-icons {
    display: block;
  }
  #running > .container > div {
    flex-wrap: wrap;
  }
  #running > .container > div > .w1200px-txt > p {
    margin-top: 10px;
  }
  .card-wrap {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
  }
  .card-wrap > .card {
    width: calc(100% / 1.5); /* 1.5개씩 배치되도록 계산 */
    margin-top: 50px;
    padding: 0 1.666%;
    flex-shrink: 0; /* 카드가 축소되지 않도록 설정 */
  }
  .card-wrap > .card > img {
    width: 100%;
  }

  /*카드 이미지*/
  #running > .container > article{
    overflow-x: auto;
  }
  /*배너동영상*/
  figure > #txt > .top0 > p {
    font-size: 30px;
  }
  figure > #txt > .top0 > p > span {
    font-size: 30px;
  }
  figure > #txt > .center > h2 {
    font-size: 70px;
  }
  figure > #txt > .center > p {
    transform: translateX(30px);
  }
  figure > #txt > .center > span {
    font-size: 20px;
    transform: translate(44px,-35px);
  }
  /*Infinite Space 텍스트 부분*/
  #qr {
    padding: 0 20px;
  }
  #qr > .txt {
    display: none;
  }
  #qr > .w600-txt {
    display: block;
    margin: 0 20px;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  #qr > .w600-txt > h2 {
    font-size: 50px;
    font-weight: 700;
    color: #111;
    text-align: left;
    margin-bottom: 20px;
  }
  #qr > .w600-txt > p {
    font-size: 16px;
    color: #111;
  }
  #qr > .qr-code {
    display: none;
  }
   /*이미지 4장*/
   #qr > .pic {
    gap : 10px;
  }
  #qr > .pic > div > .txt {
    bottom: 20px;
    left: 20px;
  }
  #qr > .pic > div {
    width: 100%;
  }
  #qr > .pic > div > .txt > h2 {
    font-size: 20px;
  }
  #qr > .pic > div > .txt > a {
    font-size: 14px;
    width: 100px;
    line-height: 40px;
  }

  /*Trending Now*/
  #trending-now {
    padding: 0 20px;
  }
  #trending-now > .container > .img-wrap {
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
  }
  #trending-now > .container > .img-wrap > .img-box {
    width: 100%;
    gap: 0; 
  }
  #trending-now > .container > .img-wrap > .img-box > img {
    width: 100%;
  }
  /*버튼*/
  #trending-now > .container > div > .btn {
    display: flex;
  }
  #trending-now > .container > div > .morebtn {
    display: none;
  }
  #trending-now > .container > .img-wrap > .img-box > .txt {
    position: static;
    margin-top: 20px;
  }
  #trending-now > .container > .img-wrap > .img-box > .txt > h2{
    font-size: 20px;
    font-weight: 600;
    color: #111;
    margin-bottom: 20px;
  }
  #trending-now > .container > .img-wrap > .img-box > .txt > a {
    background-color: #111;
    color: #f1f1f1;
  }
  /*가상요소*/
  #trending-now > .container > .img-wrap > .img-box::after {
    display: none;
  }
  #always-lconic > .container {
    padding-left: 20px;
  }

}
@media (max-width: 504px) {
  /*배너동영상*/
  figure > #txt > .top0 > p {
    font-size: 25px;
  }
  figure > #txt > .top0 > p > span {
    font-size: 16px;
  }
  figure > #txt > .center > h2 {
    font-size: 50px;
  }
  figure > #txt > .center > p {
    font-size: 20px;
    transform: translateX(30px);
  }
  figure > #txt > .center > span {
    transform: translate(44px,-35px);
  }

  #qr > .w600-txt > h2 {
    font-size: 45px;
  }
  #qr > .w600-txt > p:last-child {
    display: none;
  }

}